/* header */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px 96px;
  font-size: 18px;
  line-height: 1;
}

.header__menu {}

.header__links-list {
  display: flex;
  gap: 33px;
}

.header__links-list-item {
  list-style: circle;
}


.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 136px;

}

.header__logo-image {}

.address {
  max-width: 240px;
  font-style: normal;
  line-height: 1.35;
}

.header__address {
  justify-self: end;
}

.address__link {
  display: block;
  text-underline-offset: 4px;
}

/* cover */
.cover {}

.cover__title {}

.cover__description {}

.cover__description-text {}

.bet-button {}

/* lots */
.lots {}

.lots__heading {}

.lots__card-list {}

.lots__card-list-item {}

.card-link {}

.card {}

/* about */
.about {}

.about__logo {}

.about__title {}

.about__text {}

/* footer */
.footer {}

.footer__menu {}

.footer__social-list {}