/* header */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;

}

.header__menu {}

.header__logo {}

.address {}

/* cover */
.cover {}

.cover__title {}

.cover__description {}

.cover__description-text {}

.bet-button {}

/* lots */
.lots {}

.lots__heading {}

.lots__card-list {}

.lots__card-list-item {}

.card-link {}

.card {}

/* about */
.about {}

.about__logo {}

.about__title {}

.about__text {}

/* footer */
.footer {}

.footer__menu {}

.footer__social-list {}
